@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS mínimo para vídeo full screen */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.link-button {
  flex: 1;
  margin: 0 10px;
  padding: 12px 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #1a1a1a;
  border-radius: 6px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  text-decoration: none; /* tira o underline do link */
  cursor: pointer;
  transition: background-color 0.3s;
}

.link-button:hover {
  background-color: #c50000;
  transform: scale(1.07);
}
